[submodule "frontend"]
	path = frontend
	url = https://github.com/iashutoshtiwari/kickskart-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/iashutoshtiwari/kickskart-backend.git
